 #faun {
   height: 250px;
 }

.header {
  text-align: center;
  margin: 15px;
}

body {
background: linear-gradient(to right, #26004d, #9999ff, #26004d);
}

h4 {
  text-align: left;
}

.total {
  text-align: left;
}

h6 {
  font-style: italic;
  margin: 5px;
}

#toppings {
  text-align: center;
}

#sizes {
  text-align: left;
  margin: 15px;
  margin-left: 80px;
}

#sauces {
  text-align: left;
  margin: 15px;
}

#complete {
  text-align: center;
}

span {
  margin: 10px;
  text-align: right;
}

.completeOrder {
  display: none;
  text-align: center;
}

.buildOrder {
  text-align: center;
}
